.btn_header{
  padding: 5px 15px;
  background-color: rgb(59, 57, 57);
  text-decoration: none;
  border-radius: 3px;
  color: white;
  margin-left: 25px;
  transition: .5s ease;
}

.btn_header:hover{
  background-color: rgb(75, 72, 72);
}
